@model AxaProjeWeb.UI.Models.CustomEditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Yeni Müşteri</h1>
<form asp-action="CustomerNew" method="post">

    <input type="hidden" name="Id" /><br />
    <label>FullName</label><br>
    <input type="text" placeholder="FullName" name="FullName" /><br />
    <label>Adress</label><br>
    <input type="text" placeholder="Adress" name="Adress" /><br />
    <label>Müşteri Kategorisi:</label>
    <select name="CategoriesId" id="CategoriesId">
        <option value="1">Üye</option>
        <option value="2">Misafir</option>
    </select><br />
    <button type="submit">kaydet</button>

</form>
