@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Giriş Yap</h1>
<form asp-action="Login">

    <input type="text" placeholder="Username" name="UserName" />
    <input type="password" placeholder="Password" name="Password" />
    <button type="submit">Giriş Yap</button>

</form>
